<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>tagalogAPIBaseURL</key>
			<string>&quot;https://raymelon.github.io/tagalog-dictionary-scraper/&quot;</string>
			<key>lingvanexAPIBaseURL</key>
			<string>&quot;https://api-b2b.backenster.com/b1/api/v3/translate&quot;</string>
			<key>lingvanexAPIKey</key>
			<string>&quot;a_rcpkjXEoMOCI7c24y5dOk1QaBjvoGMzyx16sTV7tqXKVAlhzo9N8MgJ5kk0jM4wnYlwmYxvURMcvQOPf&quot;</string>
			<key>googleTranslateAPI</key>
			<string>&quot;AIzaSyBflv2kYCsZWUdwHFJZGXEq7CtZLBjTrO8&quot;</string>
		</dict>
	</array>
</dict>
</plist>
